.hidden {
    display: none;
}

  
.bottle-box {
    border: solid black 1px;
     padding: 20px;
     text-align: center;
     margin-top: 15px;
     margin-bottom: 20px;
   }

body {
    background-color: white;
    padding: 0 0;
    margin: 0 0;
    font-size: 1.5em;
    font-family: 'Averia Serif Libre', cursive;
    font-family: 'Calistoga', cursive;
    font-family: 'Lilita One', cursive;
}

h1, h2, h3, h4, p {
    text-decoration: none;
    color: #270400;
    margin: 0;
    padding: 0;
}

.head-txt {
    text-align: center;
    margin-left: 15px;
}

.txt-space {
    margin-top: 20px;
}

h2 {
    text-decoration: underline;
    margin-top: 10px;
    font-size: 2em;
}

h3 {
    font-family: 'Lilita One', cursive;
}

p {
    font-family: 'Calistoga', cursive;
    text-align: center;
    font-size: 0.9em;
    margin-top: 30px;
}

div .title-txt {
    text-align: center;
}

div {
    padding: 0 0;
    margin: 0 0;
}

#BigBottle {
    width: 53%;
    height: auto; 
}

#BigBottle:hover {
    transition: ease-in 0.7s;
    filter: drop-shadow(0 0 0.55rem rgb(43, 11, 11));
}

#BigBottle:hover #Liquid {
    transition: ease-in 0.6s;
    fill: rgb(119, 35, 54);
}

#BigBottle #Liquid {
    transition: ease-out 0.1s;
    fill: #270400;
}

#Square {
    width: 44%;
    height: auto;
}

#Square:hover {
    transition: ease-in-out 0.6s;
    transform: scale(0.7);
}

#Square {
    transition: ease-out 0.3s;
}

#Bub {
    width: 44%;
    height: auto; 
}

#Bub:hover {
    transition: ease 1s;
    transform: rotate(10deg);
}
#Bub {
    transition: ease-out 1s;
    transform: rotate(0deg);
}

#Tall {
    width: 50%;
    height: auto; 
}

#Tall:hover {
    transition: ease-in 0.6s;
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
      from {
        transform: rotate(0deg);
      }
}

#Tall:hover {
    transition: ease-out 0.3s;
}

#Small {
    width: 53%;
    margin-top: 34px;
}

#Small:hover #BubMS {
    animation: bubble-bounce 0.95s linear infinite;
}
@keyframes bubble-bounce {
    20% {
        transform: translateZ(0);
    } 
    40% {
        transform: translateX(-5px);
    } 
    90% {
        transform: translateZ(-5px);
    } 
}


#Small:hover {
    animation: tilt-shaking 1s linear infinite;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0); }
    20% { transform: rotate(5deg); }
    50% { transform: rotate(0); }
    70% { transform: rotate(-5deg); }
    100% { transform: rotate(0); }
  }

#Medium {
    width: 53%;
    margin-top: 20px;
}

#Medium:hover #StrawM {
    animation: straw-bounce 1s linear;
}

@keyframes straw-bounce {
    20%, 50%, 80%, to {
        transform: translateY(0);
    } 
    40% {
        transform: translateY(-15px);
    } 
    70% {
        transform: translateY(-6px);
    } 
    90% {
        transform: translateY(-4px);
    } 
}

#Medium:hover {
    animation: bounce 1s linear;
}

@keyframes bounce {
    20%, 50%, 80%, to {
        transform: translateY(0);
    } 
    40% {
        transform: translateY(-25px);
    } 
    70% {
        transform: translateY(-10px);
    } 
    90% {
        transform: translateY(-4px);
    } 
}